/////////////////////////////
// global value variables //
///////////////////////////
//V- for value-

$VG-p__spacing : 25px;

$VG-common__shadow: 0 2px 5px rgba(#0f134a,0.2);
$VG-common__radius: 5px;

$VG-border-1: 1px solid $CF-border-1;
$VG-border-2: 1px solid $CF-border-2;
$VG-border-dashed: 1px dashed $CB-grey-light;

//when the design meets the edge of the screen,
//this will determine how much space there is between the text and the edge of the screen
$VG-screen__padding: 20px;

//The height of the mobile toolbar
$VG-toolbar__height: 55px;
