
//-width
include ../../../unit-tests/width/max/max
include ../../../unit-tests/width/maxWidth/maxWidth
include ../../../unit-tests/width/maxVar/maxVar
include ../../../unit-tests/width/min/min
include ../../../unit-tests/width/minWidth/minWidth
include ../../../unit-tests/width/minVar/minVar
include ../../../unit-tests/width/inside/inside
include ../../../unit-tests/width/insideWidth/insideWidth
include ../../../unit-tests/width/insideVar/insideVar
include ../../../unit-tests/width/outside/outside
include ../../../unit-tests/width/outsideWidth/outsideWidth
include ../../../unit-tests/width/outsideVar/outsideVar

//-height
include ../../../unit-tests/height/maxHeight/maxHeight
include ../../../unit-tests/height/maxHeightVar/maxHeightVar
include ../../../unit-tests/height/minHeight/minHeight
include ../../../unit-tests/height/minHeightVar/minHeightVar
include ../../../unit-tests/height/insideHeight/insideHeight
include ../../../unit-tests/height/insideHeightVar/insideHeightVar
include ../../../unit-tests/height/outsideHeight/outsideHeight
include ../../../unit-tests/height/outsideHeightVar/outsideHeightVar

//-ratio
include ../../../unit-tests/ratio/ratio/ratio
include ../../../unit-tests/ratio/ratioVar/ratioVar
include ../../../unit-tests/ratio/minRatio/minRatio
include ../../../unit-tests/ratio/minRatioVar/minRatioVar
include ../../../unit-tests/ratio/maxRatio/maxRatio
include ../../../unit-tests/ratio/maxRatioVar/maxRatioVar
include ../../../unit-tests/ratio/insideRatio/insideRatio
include ../../../unit-tests/ratio/insideRatioVar/insideRatioVar
include ../../../unit-tests/ratio/outsideRatio/outsideRatio
include ../../../unit-tests/ratio/outsideRatioVar/outsideRatioVar
include ../../../unit-tests/ratio/exactRatioWorkAround1/exactRatioWorkAround1
include ../../../unit-tests/ratio/exactRatioWorkAround2/exactRatioWorkAround2
include ../../../unit-tests/ratio/exactRatioWorkAround3/exactRatioWorkAround3

//-Media statements
include ../../../unit-tests/media/simpleMedia/simpleMedia
include ../../../unit-tests/media/notMedia/notMedia
include ../../../unit-tests/media/onlyMedia/onlyMedia

//- Plus statements
include ../../../unit-tests/plus/simplePlus/simplePlus
include ../../../unit-tests/plus/inlinePlus/inlinePlus
include ../../../unit-tests/plus/mediaOnlyPlus/mediaOnlyPlus
include ../../../unit-tests/plus/complexPlus/complexPlus
include ../../../unit-tests/plus/ignoredMediaType/ignoredMediaType
include ../../../unit-tests/plus/multiPlus/multiPlus

//- Or statements
include ../../../unit-tests/or/simpleOr/simpleOr
include ../../../unit-tests/or/complexOr/complexOr
include ../../../unit-tests/or/multiOr/multiOr
include ../../../unit-tests/or/orPlusCombo/orPlusCombo

h2#tests Tests

-
  var headings = {
    'Width' : 'width',
    'Height' : 'height',
    'Ratio' : 'ratio',
    'Media statements' : 'media',
    'Plus statements' : 'plus',
    'Or statements' : 'or',
  };

mixin menuItem(heading, value)
  -
    var isObj = typeof value === 'object';
    var href = `#${isObj ? value.id : value}`;

  li: a(href=href, style='color: #000;')= heading
    if isObj
      ol
        each subId, subHeading in value.list
          +menuItem(subHeading, subId)

ol
  each id, heading in headings
    +menuItem(heading, id)



//- ======
//- WIDTH
//- ======
h3#width Width

.tests
  +max
  +maxWidth
  +maxVar
  +min
  +minWidth
  +minVar
  +inside
  +insideWidth
  +insideVar
  +outside
  +outsideWidth
  +outsideVar

  //- ======
  //- HEIGHT
  //- ======
  h3#height Height

  +maxHeight
  +maxHeightVar
  +minHeight
  +minHeightVar
  +insideHeight
  +insideHeightVar
  +outsideHeight
  +outsideHeightVar

  //- =====
  //- RATIO
  //- =====
  h3#ratio Ratio

  +ratio
  +ratioVar
  +minRatio
  +minRatioVar
  +maxRatio
  +maxRatioVar
  +insideRatio
  +insideRatioVar
  +outsideRatio
  +outsideRatioVar

  p A Note on these next three examples. If you set your screen size to exactly 800px width by 400px height, you will see that every single ratio so far returns true. The following 2 examples show a work around for this 1px sour spot issue. FYI, using this technique will make the media query incompatible with Sass media query nesting. #[code not] produces unexpected results when nesting media queries in Sass.

  +exactRatioWorkAround1
  +exactRatioWorkAround2
  +exactRatioWorkAround3

  //- =====
  //- MEDIA
  //- =====
  h3#media Media statements

  +simpleMedia
  +notMedia
  +onlyMedia

  //- =====
  //- PLUS
  //- =====
  h3#plus #[code plus] statements

  +simplePlus
  +inlinePlus
  +mediaOnlyPlus
  +complexPlus
  +ignoredMediaType
  +multiPlus

  //- =====
  //- OR
  //- =====
  h3#or #[code or] statements

  +simpleOr
  +complexOr
  +multiOr
  +orPlusCombo
