.breakpoints
  h2 Breakpoints
  .breakpoints__size.-minimum
  .breakpoints__size.-small
  .breakpoints__size.-medium
  .breakpoints__size.-large
  .breakpoints__size.-page

h2 Tests

+demo({
  html: `
.test.-max
`,
  scss: `
@include mq(max, $BP-medium) {
  background: green;
}
`,
})

