$mediaQuery: ();

$mq-ems: false !default;
$mq-em-base: 16px !default;

@import '_functions';

@function mediaType($mediaType: false, $hasAnd: true){
	$media: '';
	@if ($mediaType){
		$media: if($hasAnd, $mediaType + ' and ', $mediaType);
	}
	@return $media;
}

@function calculateMQ($range, $setting1: null, $setting2: null, $mediaType: false){

	$swap-values: false;

	$mediaTypeString: '' + $mediaType + '';

	$invalidMediaType:
		($mediaType != false) and (
			(type-of($mediaType) == 'number') or
			(str-index($mediaTypeString, '/') != null)
		);

	@if ($invalidMediaType == true){
		@error '"'+$mediaType+'" is not a valid media type';
	}

	@if ($range == null) {
		@return $mediaType;
	}

	@if ($setting2 != null and type-of($setting2) == 'number'){

		@if (type-of($setting1) == 'string'){

			$setting1_1: get-start($setting1);
			$setting1_2: get-end($setting1);

			$setting2_1: get-start($setting2);
			$setting2_2: get-end($setting2);

			$swap-values: $setting1_1 / $setting1_2 < $setting2_1 / $setting2_2;
		} @else {
			$swap-values: $setting1 < $setting2;
		}

		//Swaps the settings around
		@if ($swap-values){
			$temp: $setting1;
			$setting1: $setting2;
			$setting2: $temp;
		}

	} @else {
		$setting2: 0;
	}

	$mediaString: '';

	@if ($range == 'orientation'){
		@if ($setting1 != 'landscape' and $setting1 != 'portrait'){
			@error '"orientation" range only accepts the values "landscape" and "portrait". Currently providing the value "#{$setting1}".';
		}
	}

	@if (str-index($range, 'inside') != null or str-index($range, 'outside') != null){
		@if ($setting2 == 0) {
			@error '"#{$range}" range requires a second value. Currently only providing "#{$setting1}" as a value.';
		}
	} @else {
		@if ($setting2 != 0) {
			@error '"#{$range}" range can only take one value. Currently providing both "#{$setting1}" and "#{$setting2}" as values.';
		}
	}

	@if (str-index($range, 'ratio') == null){
		//if a standard media query
		@if (type-of($setting1) != number and $range != 'orientation'){
			@if ($setting2 != 0) {
				@error '"#{$range}" range requires the settings ("#{$setting1}" and "#{$setting2}") to be pixel values';
			} @else {
				@error '"#{$range}" range requires the setting "#{$setting1}" to be a pixel value';
			}
		}
	} @else {
		//else if it's a ratio...
		@if ((($setting2 != 0) and (type-of($setting2) != string))){
			@error '"#{$range}" range requires the settings ("#{$setting1}" and "#{$setting2}") to both be strings in this format "4 / 3" (width ratio / height ratio).';
		} @else if (type-of($setting1) != string) {
			@error '"#{$range}" range requires the setting "#{$setting1}" to be a string in this format "4 / 3" (width ratio / height ratio).';
		}
	}

	$setting1Plus: $setting1 + 1;
	$setting2Plus: $setting2 + 1;

	$media: $mediaType;

	@if ($mq-ems) {
		$setting1: _mq-em($setting1);
		$setting2: _mq-em($setting2);
		$setting1Plus: _mq-em($setting1Plus);
		$setting2Plus: _mq-em($setting2Plus);
	}

	$min-width: '(min-width: #{$setting1Plus})';
	$max-width: '(max-width: #{$setting1})';

	$inside-width: '(max-width: #{$setting1}) and (min-width: #{$setting2Plus})';
	$outside-width: '(max-width: #{$setting2}), '+$media+'(min-width: #{$setting1Plus})';

	$mediaString: map-get((
	//*1 value given*/
		min : $min-width,
		max : $max-width,
	
		min-width : $min-width,
		max-width : $max-width,

		min-height : '(min-height: #{$setting1Plus})',
		max-height : '(max-height: #{$setting1})',

		ratio : '(aspect-ratio: #{$setting1})',
		min-ratio : '(min-aspect-ratio: #{$setting1})',
		max-ratio : '(max-aspect-ratio: #{$setting1})',

		device-ratio : '(device-aspect-ratio: #{$setting1})',
		min-device-ratio : '(min-device-aspect-ratio: #{$setting1})',
		max-device-ratio : '(max-device-aspect-ratio: #{$setting1})',

		orientation : '(orientation: #{$setting1})',

	//*2 values given*/
		inside : $inside-width,
		outside : $outside-width,

		inside-width : $inside-width,
		outside-width : $outside-width,

		inside-height : '(max-height: #{$setting1}) and (min-height: #{$setting2Plus})',
		outside-height : '(max-height: #{$setting2}), '+$media+'(min-height: #{$setting1Plus})',
		
		inside-ratio : '(max-aspect-ratio: #{$setting1}) and (min-aspect-ratio: #{$setting2})',
		outside-ratio : '(max-aspect-ratio: #{$setting2}), '+$media+'(min-aspect-ratio: #{$setting1})',
		
		inside-device-ratio : '(max-device-aspect-ratio: #{$setting1}) and (min-device-aspect-ratio: #{$setting2})',
		outside-device-ratio : '(max-device-aspect-ratio: #{$setting2}), '+$media+'(min-device-aspect-ratio: #{$setting1})',
	), $range);

	@return $mediaString;
}

@function isBasicQuery($range) {
	$first_is_string: type-of(nth($range,1)) == string;
	$longer_than_1: length($range) > 1;
	$not_plus_statment: true;
	@if ($longer_than_1) {
		$not_plus_statment: nth($range,2) != 'plus';
	}
	@return $first_is_string and $longer_than_1 and $not_plus_statment;
}

@function get_values($mqSet){

	@debug mqSet $mqSet length length($mqSet);

	$range: nth($mqSet,1);
	$width1: null;
	$width2: null;
	$media: false;

	@if (length($mqSet) == 1){
		$first: nth($mqSet, 1);
		@if (type-of($first) != 'string'){
			@error '"#{$first}" is not a valid media type';
		}
		$range: null;
		$media: $first;
	}

	@if (length($mqSet) > 1){
		$width1: nth($mqSet, 2);
	}

	@if (length($mqSet) == 3){
		$third: nth($mqSet, 3);

		@if (type-of($third) == 'number'){
			$width2: $third;
		} @else {
			$media: $third;
		}
	}

	@if (length($mqSet) == 4){
		$third: nth($mqSet, 3);
		$fourth: nth($mqSet, 4);

		@if ($fourth == false and type-of($third) == 'string'){
			$media: $third;
		} @else {
			$width2: $third;
			$media: $fourth;
		}

		@if ($media == " and ") {
			$media: '';
		}
	}

	//specifically for things like this:
	//(('screen') plus (min, 800px))
	@if (nth($mqSet, 2) == 'plus') {
		// $media: $range;
		// $range: null;
		// $width1: null;
	}

	@debug (
		range: $range,
		width1: $width1,
		width2: $width2,
		media: mediaType($media, $range != null),
	);

	@debug '';

	@return (
		range: $range,
		width1: $width1,
		width2: $width2,
		media: mediaType($media, $range != null),
	);
}

@function get_media($mqSet){
	@return  map-get( get_values($mqSet) , media);
}

@function calculateBasicQuery($mqSet, $isAndStatement: false){
	$values: get_values($mqSet);

	$range: map-get($values, range);
	$width1: map-get($values, width1);
	$width2: map-get($values, width2);
	$media: map-get($values, media);

	@if ($range == null) {
		//if only a media type is given return nothing because it is added elsewhere
		@return '';
	}

	@if ((str-index($range, 'outside') != null) and $isAndStatement){
		$error: 'All "outside" range types are incompatible with "plus" statements: (' + $mqSet + ')';
		@error $error;
	}

	@return calculateMQ($range, $width1, $width2, $media);
}

@function joinQueries($range, $queryString: ()){

	$isAndStatement: false;
	$contains_media_only_statement: false;

	@if (length($range) > 1) {
		@for $i from 1 through length($range) {
			$statement: nth($range,$i);
			@debug statement $statement;
			@if ($statement == 'plus') {
				$isAndStatement: true;
				@if ($i == 2 and length(nth($range,1)) == 1) {
					$contains_media_only_statement: true;
				}
			}
		}
	} @else if (type-of(nth($range,1)) == 'string') {
		$contains_media_only_statement: true;
	}


	//Uses this functionality if using a single level MQ variable
	//eg:
	//$MQ-example--single: inside, 1000px, 500px;
	//@include mq($MQ-example--single){}
	@if (isBasicQuery($range)){

		@return get_media($range) + calculateBasicQuery($range, $isAndStatement);

	//Uses this functionality if using a multi level MQ variable
	//eg:
	//$MQ-example--multiple:
	//	(inside, 1000px, 500px),
	//	(min, 1200px)
	//;
	//@include mq($MQ-example--multiple){}
	} @else {

		@debug contains_media_only_statement $contains_media_only_statement;

		@each $mqSet in $range {

			@if ($mqSet != 'plus') {
				@if (isBasicQuery($mqSet)){

					$newQuery: calculateBasicQuery($mqSet, $isAndStatement);

					$media: get_media($mqSet);

					@if ($isAndStatement) {
						@if ($queryString == ()){
							$queryString: $media + $newQuery;
						} @else if ($newQuery != '') {
							$queryString: $queryString + ' and ' + $newQuery;
						}
					} @else {
						$queryString: append($queryString, $media + $newQuery, 'comma');
					}

				} @else {
					$is_media_only_statment: $contains_media_only_statement and type-of($mqSet) == 'string';
					@if ($isAndStatement) {
						@if ($is_media_only_statment) {
							$queryString: $mqSet;
						} @else {
							$queryString: joinQueries($mqSet, $queryString);
						}
						@if (length($queryString) > 1){
							$error: 'mq-scss does not support "or" statements inside "plus" statements: ' + $queryString;
							@error $error;
						}
					} @else {
						@if ($is_media_only_statment) {
							$queryString: $mqSet;
						} @else {
							$queryString: append($queryString, joinQueries($mqSet), 'comma');
						}
					}
				}
			}
		}

		@return $queryString;
	}
}

@mixin mq($range, $setting1: null, $setting2: null, $mediaType: false) {

	@if (length($range) > 1) {

		@debug '!!!!! FINAL OUTPUT:' (joinQueries($range));

		@media #{joinQueries($range)} {
			@content;
		}

	//Uses this functionality if placing MQ data inline
	//eg:
	//@include mq(inside, 1000px, 500px, 'screen');
	} @else {
		//standardises the values to prevent mediaType from getting confused with setting2
		$mediaOnly: $setting1 == null and $setting2 == null and $mediaType == false;
		@debug mediaOnly $mediaOnly;
		@debug range $range setting1 $setting1 setting2 $setting2 mediaType $mediaType;
		$values: get_values(if($mediaOnly, $range, ($range $setting1 $setting2 $mediaType)));

		$newRange: map-get($values, range);
		$newWidth1: map-get($values, width1);
		$newWidth2: map-get($values, width2);
		$newMedia: map-get($values, media);

		@if ($mediaOnly) {

			@media #{ $newMedia } {
				@content;
			}

		} @else {

			@media #{ $newMedia + calculateMQ($newRange, $newWidth1, $newWidth2) } {
				@content;
			}

		}

	}
}

@mixin retina($density: 2) {
		@media
		only screen and (min-device-pixel-ratio: $density),
		only screen and (min-resolution: $density * 96ppi),
		only screen and (min-resolution: $density * 1dppx) {
			@content;
	}
}
