
mixin m-bodyContent
  .m-bodyContent
    if block
      block
    else
      :marked
        ## This is a heading 2

        Quis hoc dicit? Dicam, inquam, et quidem discendi causa magis, quam quo te aut Epicurum reprehensum velim. Quamquam tu hanc copiosiorem etiam soles dicere. Et non ex maxima parte de tota iudicabis? Aliud igitur esse censet gaudere, aliud non dolere. Qua igitur re ab deo vincitur, si aeternitate non vincitur.

        *   Dicam, inquam, et quidem discendi causa magis, quam quo te aut Epicurum reprehensum velim. Non autem hoc: igitur ne illud quidem.
        *   Beatus autem esse in maximarum rerum timore nemo potest. Illum mallem levares, quo optimum atque humanissimum virum, Cn.
        *   Aliter enim nosmet ipsos nosse non possumus.

        ### Heading Three

        Vide, quantum, inquam, fallare, Torquate. Quo modo? Quam ob rem tandem, inquit, non satisfacit? Si quidem, inquit, tollerem, sed relinquo. An vero, inquit, quisquam potest probare, quod perceptfum, quod.

        At ille non pertimuit saneque fidenter: Istis quidem ipsis verbis, inquit; Quid autem habent admirationis, cum prope accesseris? Nemo nostrum istius generis asotos iucunde putat vivere. Ergo hoc quidem apparet, nos ad agendum esse natos. Primum cur ista res digna odio est, nisi quod est turpis? Quasi ego id curem, quid ille aiat aut neget.

        #### Heading Four

        Sed vos squalidius, illorum vides quam niteat oratio. Quod iam a me expectare noli. Tu vero, inquam, ducas licet, si sequetur; Polycratem Samium felicem appellabant.

        > Haeret in salebra. Oculorum, inquit Plato, est in nobis sensus acerrimus, quibus sapientiam non cernimus.

        Nos quidem Virtutes sic natae sumus, ut tibi serviremus, aliud negotii nihil habemus. Erit enim instructus ad mortem contemnendam, ad exilium, ad ipsum etiam dolorem. Ubi ut eam caperet aut quando? Primum in nostrane potestate est, quid meminerimus? Unum nescio, quo modo possit, si luxuriosus sit, finitas cupiditates habere. Quo plebiscito decreta a senatu est consuli quaestio Cn.

        ### Lists - H3

        At quanta conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur eos, qui audiunt, vides. Non igitur potestis voluptate omnia dirigentes aut tueri aut retinere virtutem.

        *   Est tamen ea secundum naturam multoque nos ad se expetendam magis hortatur quam superiora omnia.
        *   Quamquam haec quidem praeposita recte et reiecta dicere licebit.
          *   summum pecudis bonum et hominis
          *   dixisset et satis disputatum videretur, in oppidum ad Pomponium perreximus omnes. An haec ab eo non dicuntur
            *   Quod cum ille dixisset et satis disputatum videretur, in oppidum ad Pomponium perreximus omnes. An haec ab eo non dicuntur? Summum enim bonum exposuit
            *   Quod cum ille dixisset et satis disputatum videretur, in oppidum ad Pomponium perreximus omnes. An haec ab eo non dicuntur? Summum enim bonum exposuit
            *   Quod cum ille dixisset et satis disputatum videretur, in oppidum ad Pomponium perreximus omnes. An haec ab eo non dicuntur? Summum enim bonum exposuit
          *   Nummus in Croesi divitiis obscuratur, pars est tamen divitiarum. Apparet statim, quae sint officia, quae actiones. Suo genere perveniant ad extremum;
        *   Quid ad utilitatem tantae pecuniae?
        *   Nec tamen ullo modo summum pecudis bonum et hominis idem mihi videri potest.
        *   Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri.

        Duo Reges: constructio interrete. Scio enim esse quosdam, qui quavis lingua philosophari possint; Quae cum dixisset, finem ille. Duae sunt enim res quoque, ne tu verba solum putes. Ut enim consuetudo loquitur, id solum dicitur honestum, quod est populari fama gloriosum. An hoc usque quaque, aliter in vita? An hoc usque quaque, aliter in vita? Quamquam id quidem licebit iis existimare, qui legerint.

        1.  Est tamen ea secundum naturam multoque nos ad se expetendam magis hortatur quam superiora omnia.
        2.  Quamquam haec quidem praeposita recte et reiecta dicere licebit.
          1.  summum pecudis bonum et hominis
          2.  dixisset et satis disputatum videretur, in oppidum ad Pomponium perreximus omnes. An haec ab eo non dicuntur
            1.  Quod cum ille dixisset et satis disputatum videretur, in oppidum ad Pomponium perreximus omnes. An haec ab eo non dicuntur? Summum enim bonum exposuit
            2.  Quod cum ille dixisset et satis disputatum videretur, in oppidum ad Pomponium perreximus omnes. An haec ab eo non dicuntur? Summum enim bonum exposuit
            3.  Quod cum ille dixisset et satis disputatum videretur, in oppidum ad Pomponium perreximus omnes. An haec ab eo non dicuntur? Summum enim bonum exposuit
          3.  Nummus in Croesi divitiis obscuratur, pars est tamen divitiarum. Apparet statim, quae sint officia, quae actiones. Suo genere perveniant ad extremum;
        3.  Quid ad utilitatem tantae pecuniae?
        4.  Nec tamen ullo modo summum pecudis bonum et hominis idem mihi videri potest.
        5.  Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri.

        ## An haec ab eo non dicuntur - H2

        Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. At quanta conantur! Mundum hunc omnem oppidum esse nostrum! Incendi igitur eos, qui audiunt, vides. Ita fit cum gravior, tum etiam splendidior oratio. Nummus in Croesi divitiis obscuratur, pars est tamen divitiarum. Apparet statim, quae sint officia, quae actiones. Suo genere perveniant ad extremum; Quod cum ille dixisset et satis disputatum videretur, in oppidum ad Pomponium perreximus omnes. An haec ab eo non dicuntur? Summum enim bonum exposuit vacuitatem doloris; Quantum Aristoxeni ingenium consumptum videmus in musicis? De ingenio eius in his disputationibus, non de moribus quaeritur. Habent enim et bene longam et satis litigiosam disputationem.

        Nam Pyrrho, Aristo, Erillus iam diu abiecti. Sed ea mala virtuti magnitudine obruebantur. Cur, nisi quod turpis oratio est? Sit enim idem caecus, debilis. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Cum ageremus, inquit, vitae beatum et eundem supremum diem, scribebamus haec. Erat enim res aperta. Hos contra singulos dici est melius. Ad eos igitur converte te, quaeso.

        #### Quoad poterant - H4

        Quae cum magnifice primo dici viderentur, considerata minus probabantur. Respondent extrema primis, media utrisque, omnia omnibus. Praeteritis, inquit, gaudeo. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi; Sin kakan malitiam dixisses, ad aliud nos unum certum vitium consuetudo Latina traduceret. Beatus autem esse in maximarum rerum timore nemo potest. Sed haec nihil sane ad rem; At, si voluptas esset bonum, desideraret. Graece donan, Latine voluptatem vocant. Qua ex cognitione facilior facta est investigatio rerum occultissimarum.
