
/*================================================*\
  BASE ELEMENT STYLING
//----------------------------------------------------
//  This file holds base styling for elements.
//  NO CLASSES ALLOWED!
//  these are essentially site resets
\*================================================*/

* {
  &:before, &:after, & {
    //Makes fonts smoother
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;

    //supposedly this makes fonts cleaner but it makes fonts not appear in safari
    //text-rendering: optimizeLegibility;

    //all elements are given their parents box-sizing
    box-sizing: inherit;
  }
}

html, body {
  //unless set otherwise, all elements will recieve border box box sizing
  box-sizing: border-box;

  //removes default spacing around the edges of the web page
  margin: 0;
  padding: 0;
}

html {
  // Makes it easier to alter font size with rem's. 1.3rem = 13px
  font-size: 62.5%;

  // Smooth scrolling to position
  scroll-behavior: smooth;
}

//counteracts * margin styling
span,
em,
strong,
a,
b,
i,
label,
input,
div,
textarea,
select,
header,
footer,
aside,
time,
html,
form,
nav,
nav li { margin-top: 0; }

//Sets default font size for the site to 1.4rem with a 14px backup.
//Setting the font-size using the mixin is the best way to set font size.
body {
  background-color: $CF-body__bg;
  position: relative;
  margin: 0;
  padding-top: 1px;
  font-size: 16px; // This must remain set to 16px or the em based unit tests break
  line-height: 2;
  color: $CF-body__text;
  font-family: $font-1;
  font-weight: $normal;
  padding-bottom: 100px;

  > * {
    // Increasing font size to 20px on the first child elements instead
    // (This is only an issue with the testing framework, the plugin itself has no issue with this)
    font-size: 20px;
  }

  &::before, &::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &::before {
    z-index: 2;
    opacity: 0.15;

    $hex-size-x: 24px;
    $hex-size-y: $hex-size-x * 1.5;

    /* http://lea.verou.me/css3patterns/#honeycomb */
    background:
    radial-gradient(circle farthest-side at 0% 50%,$CF-body__bg 23.5%,rgba(240,166,17,0) 0) ($hex-size-x * 0.5 + 1) ($hex-size-y * 0.5),
    radial-gradient(circle farthest-side at 0% 50%,$brand--primary 24%,rgba(240,166,17,0) 0) ($hex-size-x * 0.5 - 1) ($hex-size-y * 0.5),
    linear-gradient($CF-body__bg 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,$CF-body__bg 0)0 0,
    linear-gradient(150deg,$CF-body__bg 24%,$brand--primary 0,$brand--primary 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,$brand--primary 0,$brand--primary 76%,$CF-body__bg 0) 0 0,
    linear-gradient(30deg,$CF-body__bg 24%,$brand--primary 0,$brand--primary 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,$brand--primary 0,$brand--primary 76%,$CF-body__bg 0) 0 0,
    linear-gradient(90deg,$brand--primary 2%,$CF-body__bg 0,$CF-body__bg 98%,$brand--primary 0%)0 0 $CF-body__bg;
    background-size: $hex-size-x $hex-size-y;
  }

  &::after {
    z-index: 1;
    background: radial-gradient(circle at top, rgba(#000, 0.8), transparent);
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

p, ul, ol {
  //margin top becomes the default paragraph spacer
  margin: $VG-p__spacing auto;
  max-width: 70ch;

  .ie & {
    //IE backup
    max-width: 78rem;
  }

  //allows body elements to sit hard up against their parent element top and bottom sides
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

/*HEADINGS*/
h1, h2, h3, h4, h5, h6 {
  font-family: $font-2;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
  margin-top: $VG-p__spacing;
  color: brand(1);

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
  + {
    p, ul, ol { margin-top: 0; }
  }
}
h1 {
  font-size: 50px;
  text-align: center;
  + h2 { margin-top: 30px; }
}
h2 { font-size: 25px; margin-top: 75px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; text-transform: uppercase; }


a {
  text-decoration: none;
  color: $CF-links;
  transition: 0.3s;

  &:hover, &:focus {
    text-decoration: underline;
    color: $CF-links--hover;
  }

  &[disabled] {
    cursor: default;
    pointer-events: none;
    opacity: 0.2;

    .no-csspointerevents & {
      display: none;
    }
  }
}

//makes nav default to not having dot points
nav ul { @extend %TK-noDots; }

label, input[type=radio], input[type=checkbox] { cursor: pointer; }

img { display: block; max-width: 100%; width: 100%; }

a > img {
  transition: 0.3s;
}
a:hover, a:focus {
  > img { transform: scale(1.05); }
}

blockquote {
  background-color: transparent;
  border-left: 0;
  border-left: 6px solid #000;
  font-style: normal;
  margin: 0;
  margin-left: 30px;
  padding: 55px 25px 40px;

  &:before {
    display: none;
  }

  p {
    font-size: 22px;
    line-height: 1.25;
  }
}

pre {
  padding: 10px 70px 10px 0;
  margin-left: -20px;
  margin-right: -20px;
  font-family: 'Monaco', 'Lucida Console', monospace;
  font-size: 13px;
  line-height: 20px;
  box-shadow: inset 0 0 5px #000;
  word-wrap: break-word;
  color: #d6d6d6;
  background-color: #19191b;
  padding: 0;
  margin: 0;
  padding:{left: 0; right: 0;}

  code {
    padding: 10px 5px;
    font-size: 1.2em;
    line-height: 1.5;
    font-family: $code;
  }

  .no-flexbox & {
    max-width: 780px;
  }
}

code {
  max-width: 100%;
}

p, li, h1, h2, h3, h4, h5 {
  code {
    background-color: #c5c7cc;
    // background-color: #000;
    // color: #fff;
    color: #000;
    padding: 1px 3px;
    font-size: .85em;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid currentColor;
    // border: 1px solid $brand--primary;
    box-shadow: 0 0 0 1px $brand--primary;
    white-space: nowrap;
  }
}
