@import '01-functions/color-functions';

//loads the configuration settings for the site
@import '00-config-files/config-loader';

@import '02-mixins/clearfix';
@import '02-mixins/centered';
@import '02-mixins/searchIcon';
@import '02-mixins/overflowShadow';
@import '02-mixins/menuIcon';

//Styles from 3rd party plugins
@import '03-plugins/normalize.altered';
@import '03-plugins/highlight.theme.atom-one-dark';

// Base styles
@import '04-base-styles/elements';
@import '04-base-styles/color-classes';
@import '04-base-styles/TK-toolkit';

//module imports
@import '../_modules/m-bodyContent/m-bodyContent';
@import '../_modules/a-restrictor/a-restrictor';
@import '../_modules/a-safetyPadding/a-safetyPadding';
@import '../_modules/a-installation/a-installation';
@import '../_modules/a-codeNumbers/a-codeNumbers';
@import '../_modules/a-mobileWarning/a-mobileWarning';
@import '../_modules/m-revealer/m-revealer';
@import '../_modules/m-logo/m-logo';
@import '../_modules/o-header/o-header';
@import '../_modules/o-demo/o-demo';
@import '../_modules/a-btn/a-btn';
