
+a-mobileWarning
:marked
  MQ-SCSS is a powerful media query mixin that lets you easily create far more complex media queries than you would have ever attempted to do with plain css. It also makes your code far easier to maintain through it's ability to take simple media query variables.

  This is just the demo site, read the full documentation either on [GitHub](https://github.com/Dan503/mq-scss#readme) or [npm](https://www.npmjs.com/package/mq-scss).


+o-demo({
  scss: `
// MQ-SCSS input
$MQ-variable: (inside, 1000px, 600px);

@include mq($MQ-variable) {
  /*
    styles for screens
    between 1000px and 601px
   (extra px to prevent overlap)
  */
}
`,
  css: `
/* CSS output */

@media (max-width: 1000px) and (min-width: 601px) {
  /*
    styles for screens
    between 1000px and 601px
   (extra px to prevent overlap)
  */
}
`,
})
