+m-revealer('Repository details')
	-
		var data = {
			Licence: ['MIT', 'https://github.com/Dan503/mq-js/blob/master/LICENSE'],
			Version: [pkg.version + ' (Change log)', 'https://github.com/Dan503/mq-js/releases', 'View change log'],
			Repository: ['GitHub', 'https://github.com/Dan503/mq-js'],
		}

	dl.repoDetails
		div
			dt Author:
			dd: a(href='https://twitter.com/Daniel_Tonon') Daniel Tonon
			//- dd: a(href='https://www.linkedin.com/in/danieltonon/'): img(src='https://avatars1.githubusercontent.com/u/10610368?s=460', alt="Daniel Tonon")
		each value, key in data
			div
				dt= key+':'
				if Array.isArray(value)
					dd: a(href=value[1], title=value[2])= value[0]
				else
					dd= value
