
.m-revealer {
	$this: &;

	+ #{$this} {
		margin-top: 1em;
		position: relative;

		// &::before {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	left: 15%;
		// 	right: 15%;
		// 	top: -0.5em;
		// 	border-bottom: 1px dashed $brand--secondary;
		// }
	}

	&__heading {
		margin: 0;
	}
	&__trigger {
		display: flex;
		align-items: center;
		background: #000;
		border: 0;
		width: 100%;
		padding: 10px 20px;
		padding-left: 5px;
		text-align: left;
		outline: 2px dashed transparent;
		transition: outline 0.3s;

		&:hover {
			#{$this}__triggerHex {
				transform: none;
				&.-two {
					fill: #fff;
				}
			}
		}

		&:focus {
			outline-color: mix($brand--secondary, #000, 50%);
			outline-offset: -4px;
		}
	}

	$iconSize: 30px;
	$iconSize--small: $iconSize * 0.6;
	&__triggerIcon {
		height: $iconSize;
		width: $iconSize;
		margin-right: 15px;
		display: grid;
		grid-template: 1fr ($iconSize--small) 1fr / 1fr ($iconSize--small) 1fr;
	}

	&__triggerHex {
		$stroke: 4px;
		transition: 0.5s;
		grid-column: 1 / 3;
		grid-row: 1 / 3;
		height: $iconSize;
		width: $iconSize;
		stroke: $brand--primary;
		stroke-width: $stroke;

		&.-one {
			// fill: $brand--secondary;
		}

		&.-two {
			grid-column: 2;
			grid-row: 2;
			height: $iconSize--small;
			width: $iconSize--small;
			stroke-width: $stroke * 2;
			stroke: $brand--secondary;

			.-closed > * > * > &,
			.-closed > * > * > * > & {
				transform: translate(50%, 35%);
			}
			// fill: $brand--secondary;
		}
	}

	&__slider {
		overflow: hidden;

		.-set & {
			transition: max-height 0.5s ease-in, visibility 0s 0s;
		}

		.-closed > & {
			$ease-out: cubic-bezier(0.22, 0.61, 0.36, 1);
			transition: max-height 0.5s $ease-out, visibility 0s 0.5s;
			max-height: 0 !important;
			visibility: hidden;
		}
	}

	&__content {
		position: relative;
		background-color: rgba(#000, 0.25);
		padding: 2em 20px 3em;
		// padding-bottom: 2em;
		border-left: 40px solid #000;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			left: -21px;
			bottom: 20px;
			border-right: 2px dashed $brand--primary;
			opacity: 0.3;
		}
	}
}
