
.breakpoints {
	padding: 20px;
	border: 2px solid #000;

	&__size {
		@each $name, $value in $breakpoints {
			&.-#{$name} {
				&::before {
					content: 'BP-#{$name}: ';
				}
				&::after {
					content: '#{$value}';
					font-weight: bold;
					font-size: 1.2em;
				}
			}
		}
	}
}
