
mixin breakpoints
	.breakpoints&attributes(attributes)
		h2 Breakpoints
		.breakpoints__size.-minimum
		.breakpoints__size.-small
		.breakpoints__size.-medium
		.breakpoints__size.-large
		.breakpoints__size.-page
