.hljs-comment, .hljs-quote {
	color: #2f773e;
}

.hljs-keyword, .hljs-selector-tag {
	color: #aa1c1c;
}

.hljs-number, .hljs-meta, .hljs-built_in, .hljs-builtin-name, .hljs-literal, .hljs-type, .hljs-params {
	color: #0e14e3;
}